@model Inventory_Management_Systems.Models.tblInvoice

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>tblInvoice</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="invoiceId" />
            <div class="form-group">
                <label asp-for="invoice_Code" class="control-label"></label>
                <input asp-for="invoice_Code" class="form-control" />
                <span asp-validation-for="invoice_Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Invoice_type" class="control-label"></label>
                <select asp-for="Invoice_type" class="form-control"></select>
                <span asp-validation-for="Invoice_type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="payment_Mode" class="control-label"></label>
                <select asp-for="payment_Mode" class="form-control"></select>
                <span asp-validation-for="payment_Mode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="invoice_Date" class="control-label"></label>
                <input asp-for="invoice_Date" class="form-control" />
                <span asp-validation-for="invoice_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Due_Date" class="control-label"></label>
                <input asp-for="Due_Date" class="form-control" />
                <span asp-validation-for="Due_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyName" class="control-label"></label>
                <select asp-for="CompanyName" class="form-control" asp-items="ViewBag.CompanyName"></select>
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="accountId" class="control-label"></label>
                <select asp-for="accountId" class="form-control" asp-items="ViewBag.accountId"></select>
                <span asp-validation-for="accountId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="customerName" class="control-label"></label>
                <select asp-for="customerName" class="form-control" asp-items="ViewBag.customerName"></select>
                <span asp-validation-for="customerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Created_Date" class="control-label"></label>
                <input asp-for="Created_Date" class="form-control" />
                <span asp-validation-for="Created_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
